modules = ["nodejs-24"]

[[artifacts]]
id = "artifacts/api-server"

[[artifacts]]
id = "artifacts/mockup-sandbox"

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[userenv]

[userenv.shared]
VITE_CLERK_PUBLISHABLE_KEY = "pk_test_YWR2YW5jZWQtbWFzdG9kb24tNDYuY2xlcmsuYWNjb3VudHMuZGV2JA"
CLERK_PUBLISHABLE_KEY = "pk_test_YWR2YW5jZWQtbWFzdG9kb24tNDYuY2xlcmsuYWNjb3VudHMuZGV2JA"
CLERK_SECRET_KEY = "sk_test_qTkMsMTo2elAD4eXwVPwdbiN7ukUsmrAv9DnzJSoOu"
AI_INTEGRATIONS_OPENAI_BASE_URL = "http://localhost:1106/modelfarm/openai"
AI_INTEGRATIONS_OPENAI_API_KEY = "_DUMMY_API_KEY_"
